/* navbar.module.css */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  color: white;
  margin-left: 30px; /* Add left margin */
  margin-right: 30px; /* Add right margin */
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 26px;
  font-weight: medium;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

@media screen and (max-width: 1280px) {
  .logo {
    font-size: 32px;
  }
  .links {
    font-size: 18px;
    gap: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .logo {
    text-align: right;
    font-size: 24px;
  }
  .links {
    justify-content: flex-end; /* Keep links to the right */
  }
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 24px;
  }
}

@media screen and (max-width: 640px) {
  .links {
    justify-content: flex-end;
  }
  .link {
    display: none;
  }
}
